<div class="container">

    <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <h1 class="text-center">Bem vindos á GenFruit</h1>
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-12">
            <p class="text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est ea, mollitia, aliquid
                eum rerum tempore
                ipsa aspernatur saepe nostrum accusantium debitis odit libero voluptas amet aliquam corrupti reiciendis.
                Voluptate, vel. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Debitis minus ipsa labore
                aliquam quod laudantium in deleniti, laboriosam dolorem natus molestias culpa fugit? Fuga inventore
                nesciunt deserunt totam dolorum. Delectus.</p>
        </div>
    </div>



    <div class="parallax"></div>

    <div class="row mt-5 mb-5">
        <div class="col-md-12 d-flex justify-content-center ">
            <button class="btn btn-dark" style="width: 25%" routerLink="/loja">Ver Loja</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQtg9cHX0C0KpLDzd4ilrBtDTRDedOqxQ0obdNBREA34mLEaJfD&usqp=CAU"
                    class="card-img-top" alt="Fruta Caju">
                <div class="card-body">
                    <h5 class="card-title text-center">Caju</h5>
                    <p class="card-text text-center">Caju delicinha</p>
                    <a routerLink="/loja" class="btn btn-outline-info col align-self-center">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://i.imgur.com/WCwzIGC.jpg" class="card-img-top" alt="Fruta Morango">
                <div class="card-body">
                    <h5 class="card-title text-center">Morango</h5>
                    <p class="card-text text-center">Morango lindinho</p>
                    <a routerLink="/loja" class="btn btn-outline-info col align-self-center">Saiba mais</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="https://cdn.pixabay.com/photo/2014/07/23/11/51/kiwifruit-400143_960_720.jpg"
                    class="card-img-top" alt="Fruta Kiwi">
                <div class="card-body">
                    <h5 class="card-title text-center">Caju</h5>
                    <p class="card-text text-center">Kiwi Vida Loka</p>
                    <a routerLink="/loja" class="btn btn-outline-info col align-self-center">Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</div>